<form class="display-user" action="{{ path('app_users_follow') }}" method="post">
    <input class="btn-xs btn-primary" type="submit" value="Follow"/>
    <input type="hidden" name="id" value="{{ user.id }}"/>
</form>